.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input:focus {
    background-color: yellow;
}

button:hover{
    background: #000000;
}

input[type=text] {
    margin: 10px;
    background-color: #3CBC8D;
    color: white;
}