.header
{
    background: #3CBC8D;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index:1000;
}
li {
  display: inline;
  margin-left: 300px;
}

a {
    text-decoration: none;
}
a:hover {
    color: #338833;
    border-bottom:1px solid red;
    padding-bottom: 10px;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
